.main_container {
  width: 100%;
}

.colour_stripe {
  height: 8px;
  width: 100%;
  background-image: linear-gradient(to right, #FFD700, #D6AD60);
}

.navbar {
  box-shadow: 0px 5px 5px #d9d9d9;
}

/* .colour_me {
  color: #122620 !important;
  background-color: #FFD700;
} */
