:root {
  --primaryColor: #198754;
  --secondaryColor: #a9efce;
  --transform: scale(1.2);
  --transition: all ease 2s;
}

.main_container {
  width: 100%;
}

.colour_stripe {
  height: 6px;
  width: 100%;
  background-image: linear-gradient(to right, var(--primaryColor) 70%, var(--secondaryColor));
}

.navbar {
  box-shadow: 0px 5px 5px #d9d9d9;
}

.scale_text:hover {
  transform: var(--transform);
  transition: var(--transition);
  color: var(--primaryColor);
}

.transition {
  transition: var(--transition);
}

.bnb {
  border: 1px solid red;
}